<div class="navbar-main">
<!-- <div class="bg-dark"> -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" routerLink ='/' routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="current weather" routerLink = "/current" routerLinkActive="active-link">Current Weather</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/five" aria-current="five day weather" routerLinkActive="active-link">Five Day Weather</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/air-pollution" aria-current="Air Pollution">Air Pollution</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/geocoding" aria-current="Geocoding">Geocoding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/widget">Weather Widget</a>
        </li>
      </ul>
</div>