.header {
    background: linear-gradient(45deg, rebeccapurple, cadetblue);
    color: white;
    
}

.body {
    background: linear-gradient(329deg, #224558, black);
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.form {
    background: linear-gradient(30deg, #111337d9, #00e0ff);
    opacity: 0.9;
    color: white;
    filter: drop-shadow(10px 7px 13px black);
    box-shadow: 1px 1px 9px deepskyblue;
    margin-top: 50px;
    margin-inline: auto;
    width: 50%;
    max-width: 300px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.button {
    background: linear-gradient(30deg, #111337d9, #00e0ff);
    opacity: 0.9;
    color: white;
    filter: drop-shadow(10px 7px 13px black);
    box-shadow: 1px 1px 9px deepskyblue;
}

.form-group{
    padding: 3px;
}