.float-child {
  float: under;
  padding: 10px;
  border: 2px solid white (240, 234, 234);
  margin: 50px;
  text-align: center;
}
.center-content {
  text-align: center;
  justify-content: center;
  display: flex;
}
.float-res {
  float: under;
  padding: 10px;
  border: 2px solid white (240, 234, 234);
  margin: 20px;
  text-align: center;
}

.box-error {
  border-color: red;
}
.errs {
  color: darkgoldenrod;
}
.air-pollution-component {
  background: linear-gradient(329deg, #224558, black);
  height: 100%;
  flex-direction: column;
  justify-content: center;
  overflow: scroll;
}
.form-container {
  background: linear-gradient(30deg, #111337d9, #00e0ff);
  opacity: 0.9;
  color: white;
  filter: drop-shadow(10px 7px 13px black);
  box-shadow: 1px 1px 9px deepskyblue;
}

.status-container {
  background: linear-gradient(30deg, #111337d9, #a8cae9);
  opacity: 0.9;
  color: white;
  filter: drop-shadow(10px 7px 13px black);
  box-shadow: 1px 1px 9px rgb(94, 68, 131);
}

.search-button:disabled {
  background: gray;
  border: none;
  display: flex;
  width: 100pt;
  text-align: center;
  justify-content: center;
  opacity: 0.5;
}
.search-button {
  width: 100pt;
  text-align: center;
  transition: 0.5s;
}

/* css for breadcrumb */
li.breadcrumb-item.active {
  color: white;
}
li.breadcrumb-item a {
  color: aquamarine;
  text-decoration: none;
}
li.breadcrumb-item.active::before {
  color: aquamarine;
}
