<navbar></navbar>
<div class="weather-details-component pb-4">
  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/" routerLinkActive="activeBreadcrumb">Home</a>
        </li>
        <li class="breadcrumb-item" aria-current="page">
          <a
            routerLink="/current"
            routerLinkActive="activeBreadcrumb"
            [routerLinkActiveOptions]="{ exact: true }"
            >Current Weather</a
          >
        </li>
        <li class="breadcrumb-item" aria-current="page">
          <a
            routerLink="/current/{{ routerInfo[0] }}/{{ routerInfo[1] }}"
            routerLinkActive="activeBreadcrumb"
            [routerLinkActiveOptions]="{ exact: true }"
            >{{ this.routerInfo[1] }}, {{ this.routerInfo[0] }}</a
          >
        </li>
      </ol>
    </nav>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 row content-main">
        <div class="col-md-6 col-sm-4 first-widget pt-4 pb-4">
          
          <div class="cloud">
            <i class="fas fa-thin fa-cloud"> </i>
            <i class="fas fa-thin fa-cloud"> </i>
            <i class="fas fa-thin fa-cloud"> </i>
          </div>
          <div class="cloud m-2">
            <i class="fas fa-thin fa-cloud"> </i>
            <i class="fas fa-thin fa-cloud"> </i>
            <i class="fas fa-thin fa-cloud"> </i>
          </div>
          <div class="cloud m-1">
            <i class="fas fa-thin fa-cloud"> </i>
            <i class="fas fa-thin fa-cloud"> </i>
            <i class="fas fa-thin fa-cloud"> </i>
          </div>
          <div class="cloud mb-4">
            <i class="fas fa-thin fa-cloud"> </i>
            <i class="fas fa-thin fa-cloud"> </i>
            <i class="fas fa-thin fa-cloud"> </i>
          </div>
          <div
            class="circular-weather-display"
            [ngClass]="isDay ? 'day' : 'night'"
          >
            <div class="temp">{{ weatherInfo.main.temp }}&deg;C</div>
            <div class="feels_like">
              Feels Like {{ weatherInfo.main.feels_like }}&deg;
            </div>
          </div>
          <div class="basic-info">
            <div class="group-speed">
              <p><i class="fas fa-thin fa-compass">{{weatherInfo.wind.speed}}m/s 
                <p *ngIf="weatherInfo.wind.deg>0 && weatherInfo.wind.deg <=90">E</p>
                <p *ngIf="weatherInfo.wind.deg>90 && weatherInfo.wind.deg<= 180">S</p>
                <p *ngIf="weatherInfo.wind.deg>180 && weatherInfo.wind.deg<= 270">W</p>
                <p *ngIf="weatherInfo.wind.deg>270 && weatherInfo.wind.deg<= 360">N</p>
                </i> </p>
            </div>
            <p>{{weatherInfo.weather[0].description}}</p>
          </div>
        </div>
        <div class="col-md-6 weather-table">
          <table class="table table-hover table-striped custom-table">
            <thead>
              <tr>
                <th scope="col" colspan="2">Weather Information</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Humidity</th>
                <td>{{ weatherInfo.main.humidity }}%</td>
              </tr>
              <tr>
                <th scope="row">Pressure</th>
                <td>{{ weatherInfo.main.pressure }} hPa</td>
              </tr>
              <tr>
                <th scope="row">Sunrise</th>
                <td>{{ weatherInfo.sunrise_time }}</td>
              </tr>
              <tr>
                <th scope="row">Sunset</th>
                <td>{{ weatherInfo.sunset_time }}</td>
              </tr>
              <tr>
                <th scope="row">Max Temperature</th>
                <td>{{ weatherInfo.main.temp_max }}&deg;c</td>
              </tr>
              <tr>
                <th scope="row">Min Temperature</th>
                <td>{{ weatherInfo.main.temp_min }}&deg;c</td>
              </tr>
              <tr>
                <th scope="row">Visibility</th>
                <td>
                  <p>{{weatherInfo.visibility/1000|number:'1.1-2'}}km</p>
                 
                </td>
              </tr>
              <tr>
                <th scope="row">Day/Night</th>
                <td>
                  <p *ngIf="isDay">Day</p>
                  <p *ngIf="!isDay">Night</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-12 ml-2 pb-4 pt-4 map-content">
          <google-map
            height="400px"
            width="100%"
            [center]="center"
            [zoom]="zoom"
            (mapClick)="moveMap($event)"
            (mapMousemove)="move($event)"
          >
          </google-map>
          <div class="coordinates">
            <div>Latitude: {{ display?.lat | number : "1.2-2" }}</div>
            <div>Longitude: {{ display?.lng | number : "1.2-2" }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
