.circular-weather-display {
  height: 200px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.first-widget {
  display: flex;
  background: linear-gradient(45deg, #3333d1, transparent);
  justify-content: center;
  align-items: center;
}
.day {
  background: gold;
  filter: drop-shadow(0 -6mm 8mm rgb(114, 13, 13));
}

.night {
  background: linear-gradient(black, transparent);
  color: white;
  filter: drop-shadow(2px 4px 6px black);
}
th {
  font-weight: normal;
}
.content-main {
  margin-top: 4%;
  border: 1px solid #283339;
  border-radius: 6px;
  filter: drop-shadow(2px 4px 7px black);
  padding: 1px 1px;
  box-shadow: 2px 2px 2px #283339;
  height: 100%;
}
.temp {
  font-size: 30pt;
  color: green;
}
.feels_like {
  font-size: 18px;
  color: white;
}
.day > .feels_like {
  color: rgb(166, 91, 166);
}
.weather-details-component {
  background: linear-gradient(329deg, #224558, black);
  /* height: 100%;
  max-height: 100%; */
  /* overflow: scroll; */
}
.cloud {
  display: flex;
  flex-direction: column;
  filter: drop-shadow(2px 4px 6px black);
}
i.fas.fa-thin.fa-cloud {
  font-size: 35px;
  color: #8badc2;
  position: relative;
  /* animation: mymove 8s infinite; */
  animation-name: mymove;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes mymove {
  0% {
    top: 0px;
    left: 0px;
  }
  100% {
    top: 0px;
    left: 500px;
  }
}
li.breadcrumb-item.active {
  color: white;
}
li.breadcrumb-item a {
  color: aquamarine;
  text-decoration: none;
}
li.breadcrumb-item.active::before {
  color: aquamarine;
}
.weather-table {
  padding: 8px 3px 0 4px;
  filter: drop-shadow(2px 4px 6px #0b141a);
}
thead th {
  text-align: center;
  font-size: 16pt;
  background: #0d212c !important;
  color: white !important;
}
tbody td,
th {
  background: #364a54 !important;
}
tbody th {
  color: white !important;
}
tbody td {
  color: green !important;
}
.coordinates > div {
  margin-right: 15px;
}
.coordinates {
  display: inline-flex;
  background: #050606;
  color: white;
  filter: drop-shadow(2px 4px 6px black);
  margin: 4px 4px;
}

.basic-info {
  background: #3083b0;
  padding: 2px 2px;
  color: white;
  font-size: 12px;
  border-radius: 3px;
  filter: drop-shadow(2px 4px 6px white);
}
.group-speed p {
  display: inline;
}
