<navbar></navbar>
<div class="container-fluid home-component">
    <div class="row mb-3">
        <div class="col-12">
            <h1 class="text-center">Welcome to the Home Page</h1>
        </div>
    </div>

    <div class="row align-content-center justify-content-center">
        <div class="col-12 content ">
            <h2 class="text-center">This is a simple example of a SPA</h2>
            
            <p>This application allows a user to get a breakdown on multiple weather outputs such as the current weather, forecasting weather for the next five days, getting the latitude and longitude of a selected city, and more. This application was built using Angular, Bootstrap, with a C# backend. </p>
        </div>

    </div>

    <div class="row">
        <div class="col-12 contribution">
            <h3 class="text-center">Worked on by Nima, Nabin, Abdel, Christian, Michael, Jessirae, Hemanta, Arthur</h3>
        </div>
    </div>
</div>
<app-footer></app-footer>