/* styles.css */
.temp-icon {
  width: 35pt; /* Adjust the width to your preference */
  height: auto; /* Maintain aspect ratio */
}

.weather-icon {
  width: 50pt; /* Adjust the width to your preference */
  height: auto; /* Maintain aspect ratio */
}

.weather-description {
  margin-left: 100pt; /* Adjust the spacing as needed */
}
.five-day-weather {
  background: linear-gradient(329deg, #224558, black);
}
