<div class="mt-5" id="bg div.visable">
    <h1 class = T-register > Start Your Free Personal Weather Helper Today!</h1>
    <img src ="./../assets/register-image.png" width="500" height="300" alt = "This is a picture">
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" formControlName="username" class="form-control">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" class="form-control">
    </div>
    <div class="form-group">
        <label for="firstName" >First Name</label>
        <input type="text" id="firstName" formControlName="firstName" class="form-control">
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" formControlName="lastName" class="form-control">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" formControlName="email" class="form-control">
    </div>
    <div class="form-group">
        <label for="location">Location (JSON object)</label>
        <input type="text" id="location" formControlName="location" class="form-control">
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
